@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-syne);

  --color-background: #0D0D0D;
  --color-foreground: #FAFAFA;
  --color-card: #1A1A1A;
  --color-accent: #00F0FF;
  --color-accent-blue: #0076FF;
}

:root {
  --background: #0D0D0D;
  --foreground: #FAFAFA;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Custom Selection */
::selection {
  background-color: var(--color-accent);
  color: #000;
}
